.products{
    width:100%;
    height:calc(100% - 64px);
    @media only screen and (max-width: 601px){
        height:calc(100% - 56px);
    }
    #plants,#terrariums{
        margin-top:48px;
    }
    .product-item{
        >.col{
            padding:0;
        }
        .card{
            border-radius: 10px;
            overflow: hidden;
        }
    }
    .card-item{
        .card-image .card-title{
            color:green;
        }
    }
    .more-info{
        cursor:pointer;
    }
}