.product-details{
    height:100%;
    width:100%;
    max-width:1315px;
    margin:auto;

    .row{
        margin-bottom:auto;
    }
    .photo-container{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius:10px;
        }
    }
    .name{
        font-size:2rem;
    }
    .info {
        padding: 1.5rem;
        
        ul{
            margin-left:1rem;
        }
        ul li{
            list-style: circle;
        }
    }
    
}