@import './variables.scss';
@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

html {
    overflow-y: scroll;
    ::-webkit-scrollbar { 
        display: none; 
    }
}
body {
    margin: 0;
    color:$main-text;

    #root{
        height:100vh;
        width:100vw;
        .app-container{
            height:100%;
            width:100%;
        }
    }

    .landing-page{
        height:100%;
        width:100%;
        background-image:url("../images/landing-page.jpg");
        background-size:cover;
        left:0;
        top:0;
        position:fixed;
        background-repeat:no-repeat;
        @media only screen and (max-width: 601px){
            background-position: center;
        }

        @media only screen 
            and (min-device-width: 1024px) 
            and (max-device-width: 1366px) 
            and (-webkit-min-device-pixel-ratio: 2) 
            and (orientation: portrait){
                background-position:right;
            }
        @media only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px) 
            and (-webkit-min-device-pixel-ratio: 2) 
            and (orientation: portrait){
                background-position:right;
            }
        .landing-container{
            top:56px;
            position:relative;
            @media only screen and (min-width: 601px){
                top:64px
            }
            .landing-title{
                font-weight:300;
            }
            .landing-text{
                font-size:1.2rem;
                font-weight:300;
            }
            .button-container{
                margin-top:1rem;
                button {
                    margin-right:1rem;
                }
                .guide-button{
                    background-color:#f5b47a;
                }
            }
        }
    }
    
}
