@import './variables.scss';
@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

body {
    margin: 0;
    color:$main-text;

    #root{
        height:100%;
        width:100%;
        .app-container{
            height:100%;
            width:100%;
        }
    }

    .landing-page{
        height:100vh;
        width:100vw;
        background-color:white;
        position:fixed;

        .logo{
            background-image:url(../images/logo.png);
            background-repeat: no-repeat;
            background-size:contain;
            height: 45%;
            margin:auto;
            position:relative;
            width:52%;
            top:25%;
            max-height: 260px;
            min-width:320px;
            max-width: 563px;
        } 
        .actions{
            top:25%;
            position:relative;
            button{
                margin:1rem;
            }
        }
    }
    
}
