.loader-container{
    height: 100%;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 56px;
    left: 0;
    @media only screen and (min-width: 601px){
        top:64px;
    }
    .loader{
        height:100%;
        width:100%;
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-image: url(../../assets/images/loader.gif);
    }
}