.search-products{
    width:100%; 
    height:calc(100% - 64px);
    @media only screen and (max-width: 601px){
        height:calc(100% - 56px);
    }
    form input#search {
        width: calc(100% - 36px);
    }
}