.search-products{
    width:100%; 
    height:calc(100% - 64px);
    @media only screen and (max-width: 601px){
        height:calc(100% - 56px);
    }
    form input#search {
        width: calc(100% - 36px);
    }
    input[type=text]:not(.browser-default):focus:not([readonly]){
        border-bottom:#f5b47a;
        box-shadow: 0 1px 0 0 #f5b47a;
    }
    input[type=text]:not(.browser-default):focus:not([readonly]) + label{
        color:grey;
    }
    button{
        border:none;
        background-color:transparent;
        color:grey;
        cursor:pointer;
    }
    #plants,#terrariums{
        margin-top:48px;
    }
    .product-item{
        >.col{
            padding:0;
        }
        .card{
            border-radius: 10px;
            overflow: hidden;
        }
    }
    .card-item{
        .card-image .card-title{
            color:green;
        }
    }
    .more-info{
        cursor:pointer;
    }
    .item-count{
        padding-top: 1rem;
        color:grey;
    }
}