nav {
    box-shadow: none;
    background-color:transparent;
    .brand-logo{
        color:rgb(100, 100, 100);
    }
    ul a {
        color:rgb(100, 100, 100);
    }
    a{
        color:rgb(226, 123, 123);
    }
}