.diy-container{
    font-weight:300;
    h4{
        font-weight:300;
    }
    h5{
        font-weight:300;
    }
}
.supplies-container{
    display:flex;
    align-items:center;
    @media only screen and (max-width: 601px){
        display:block;
    }
    ul{
        li{
            list-style-type: circle;
            padding:.5rem 0;
        }
    }
}
