.care-container{
    width: 100%;
    height: calc(100% - 64px);
    @media only screen and (max-width: 601px){
        height:calc(100% - 56lopx);
    }
    strong{
        color:#f5b47a;
    }
    p{
        font-weight:300;
    }
}