.table-of-contents{
    height:100%;
    width:100%;
    .guide-photo{
        // background-image:url(../../assets/images/guide.jpg);
        background-size:contain;
        background-repeat:no-repeat;
        // height:75vh;
        @media only screen and (max-width: 601px) and (min-width:415px){
            background-size:cover;
        }
    }
    .guide-text{
        .guide-title{
            font-weight:300;
        }
    }
}