.table-of-contents{
    height:100%;
    width:100%;
    .contents-container{
        display:flex;
        -webkit-box-align: center;
        align-items: center;
        @media only screen and (max-width: 601px){
            display:block;
        }

    }
    .guide-text{
        .guide-title{
            font-weight:300;
        }
    }
}